body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: none;
  
}

header ul {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: grey;
}

a{
  text-decoration: none;
  color : blue;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  font-style : italic;
  color: grey;
  border-bottom-style: solid ;
  border-bottom-width: thick;
  border-bottom-color: black ;
}

